*{
	margin: auto;
	text-align: center;
}
p{
	text-align: left;
	padding: 10px;
}
body{
	background-color: yellow;
	background-size:cover;
}
.global-nav ul a{
	text-decoration: none;
	color: red;
	background-color: white;
	font-size: 16px;	
	border: solid 1px;
	padding: 0 	2px;
}
a:visited{
	color:red
}
a:hover{
	color: white;
    border: solid 2px;
    background-color: blue;
}
h1{
	color: red;
	background-color: #ffff005c;
	border-bottom: dashed;
	padding: 5px;
	width:40%;
	margin-top: 10px;
}
h2{
	background-color: #2014faf7;
	color:white;
}
h3{
	text-align: center;
}
header{
	display: block;
	background-image: url(../image/m_k.jpg);
	background-size: 100%;	
}
.header{
	display: block;
}
.car img{
	width: 140px;
	top: -12px;
	left: 0px;
	position: fixed;
	z-index: 2;
}
.fukidashi{
	position: absolute;
	margin-left:-30%;
	width: 6%;	
	transform: rotate(0.07turn);
}
/*チェックボックスは非表示*/
.nav-unshown {
  display:none;
}
.global-nav{
    margin: auto 0 0 auto;
}
.nav-drawer,.global-nav ul {
	list-style: none;
	display: flex;
    margin: 10px auto;
}
.global-nav li ,.global-nav p{
	margin: 0 10px	;
}
#nav-content{
	background-color: #0000ff8f;
}
#nav-content ul{
	list-style: none;
	display: flex;
	padding: 5px;
	height: 10%;
}
#nav-content li{
	display: block;
	margin: 3px;	
}
.kantoustamp{
	width: 82%;
	margin: 10px;
	margin-left: 10%;
	display: flex;
	border: dashed red;
	padding: 5px;
}
.kantoustamp img{
	margin: 5px;
	width: 20%;
}
.kantoustamp p{
	width: 40%;
	margin: 0;
	text-align: left;
}
.button{
	width: 40%;
	margin: auto;
	text-align: center;
}
.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 5px;	
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;
  color: #ff7c5c;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  width: 70px;
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
#chiba,#tochigi{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: #fef4e0;
}
#saitama,#gunma{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: #daffe1;
}
#tokyo,#yamanashi{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: white;
}
#kanagawa,#nagano{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: #fdd5e4;	
}
#ibaraki{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: #e0f8fe;		
}
table{
	margin-left: 10px;
	width: 98%;
}
tr img{
	width: 100%;
}
td,th{
	width: 10%;
}
footer{
	height: 100px;
	background-color: #2014faf7;
	display: flex;
	margin: 0;
	color: white;
}
footer ul{
	list-style:none;
}
.footer{
	width: 36%;
	margin: auto;
}
.footer-link{
	margin: auto 5px;
}
.footer-link table{
	margin: 0;
}
