*{
	margin: auto;
	text-align: center;
}
p{
	width: 70%;
	text-align: left;
	padding: 15px;
}
body{
	background-color: #f9f9dcf5;
}
.global-nav ul a{
	text-decoration: none;
	padding: 5px;
}
a:link{
	clear: white;
}
a:visited{
	color:#ffe3e3;
}
a:hover{
	color: white;
    background-color: blue;
}
h1{
	color: #3f51b5;
	background-color: white;
	border-bottom: dashed;
	font-size: 2em;
	padding: 10px;
	width:60%;
	margin-top: 10px;
}
h2{
	color:white;
	text-align: left;
}
h3{
	text-align: center;
}
header{
	display: block;
	background-image: url(../image/m_k.jpg);
	background-size: 100%;
	height: 20%;
}
.header{
	display: block;
}
.car img{
	width: 10%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 2;
}
/*チェックボックスは非表示*/
.nav-unshown {
  display:none;
}
.global-nav{
    margin: auto 0 0 auto;
}
.nav-drawer,.global-nav ul {
	list-style: none;
	display: flex;
    margin: 10px auto;
    background-color: #2a2a2bbd;
}
.global-nav li ,.global-nav p{
	margin: 0 10px	;
}
#nav-content{
	background-color: #0000ff8f;
}
#nav-content ul{
	list-style: none;
	display: flex;
	padding: 5px;
	height: 10%;
}
#nav-content li{
	display: block;
	margin: 3px;	
}
.kantoustamp{
	width: 82%;
	margin: 10px;
	margin-left: 10%;
	display: flex;
	border: dashed red;
	padding: 5px;
}
.kantoustamp img{
	margin: auto;	width: 20%;
	height: 20%;
}
.kantoustamp p{
	width: 40%;
	padding: 5px 0 5px 15px;
	text-align: left;
}
.button{
	width: 40%;
	margin: auto;
	text-align: center;
}
.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 5px;	
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;
  color: #ff7c5c;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  width: 70px;
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
#chiba,#tochigi{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: #fef4e0;
}
#saitama,#gunma{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: #daffe1;
}
#tokyo,#yamanashi{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: white;
}
#kanagawa,#nagano{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: #fdd5e4;	
}
#ibaraki{
	width: 84%;
	margin-left: 10%;
	font-size: 12px;
	background-color: #e0f8fe;		
}
table{
	margin-left: 10px;
	width: 98%;
}
tr img{
	width: 100%;
}
td,th{
	width: 10%;
	padding: 10px;
}
.link,.link p{
	text-align: center;
	width: 84%;
	margin-left: 10%;
	background-color: gray;
}
footer{
	background-color: #2014faf7;
	display: flex;
	color: white;
	padding: 10px 50px;
}
footer ul{
	list-style:none;
	width: 30%;
}
.footer li{
	padding: 5px 10px;
	text-align: left;
	color: white;
}